.header {
    width: 100%;
    height: 200px;
    background: antiquewhite;
}
.main {
    width: 100%;
    height: 600px;
    background: #ffe6c4;
}/* 사이드바 */
#sidebar-wrapper .sidebar-heading {position:relative; width:200px; padding:15px 20px 10px;}
#sidebar-wrapper .navbar-light {padding:0 20px;}
#sidebar-wrapper .navbar-light .dropdown-divider {margin:0 0 20px; background:var(--gray-color1);}
#sidebar-wrapper .navbar-light .text-muted {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: var(--gray-color3);
}
#sidebar-wrapper .navbar-light .sidebar-link .right-icon {display:inline-flex; transition: all ease 0.25s; height:5px;}
#sidebar-wrapper .navbar-light .sidebar-link .right-icon i {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius:3px;
}
#sidebar-wrapper .navbar-light .sidebar-link[aria-expanded="true"] .right-icon {transform: rotate(180deg);}
#sidebar-wrapper .navbar-light .sidebar-link[aria-expanded="true"] .right-icon i {
    border-top: 5px solid #005580;
}

#sidebar-wrapper .navbar-light .nav-link.sidebar-link {display:flex; align-items: center;}
#sidebar-wrapper .navbar-light .nav-link.sidebar-link span.mname {
    display:inline-block;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: #666;
}
#sidebar-wrapper .navbar-light .sidebar-link[aria-expanded="true"] span.mname {
    color: var(--primary-color4);
}

#sidebar-wrapper .navbar-light .card {
    border: 0;
    box-shadow: 2px 4px 15px 0 rgba(106, 167, 218, 0.25);
    background-color: var(--primary-color4);
}
#sidebar-wrapper .navbar-light .card .nav-link {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
#sidebar-wrapper .navbar-light .card .nav-link:hover {color:#fff;}

#sidebar-wrapper .navbar-light .sidebar-link[aria-expanded="true"] span.sbname {color:#fff;}
#sidebar-wrapper .navbar-light .submenu .sidebar-link .right-icon i {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius:3px;
}
#sidebar-wrapper .navbar-light .submenu .sidebar-link[aria-expanded="true"] .right-icon i {
    border-top: 5px solid #fff;
}

#sidebar-wrapper .navbar-light .nav-link.fs12 {
    padding-left:7px;
    font-size:12px;
}

#sidebar-wrapper .navbar-light .nav-link.fs12:hover,
#sidebar-wrapper .navbar-light .nav-link.fs12.active {
    color:#fff;
}
/*
.dashboard {margin-top:-90px;transition: 0.125s}
.dashboard > .row {
    margin-right: calc(-.2 * var(--bs-gutter-x));
    margin-left: calc(-.2 * var(--bs-gutter-x));
}
.dashboard > .row > * {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
}*/
.card.icard {
    border:0;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    overflow:hidden;
    margin-top:8px;
}

.card.icard .card-header {
    padding: 5px 8px 4px;
}
.card.icard .card-header.room1 {background-color:#438ef3;}
.card.icard .card-header.room2 {background-color:#6de09c;}
.card.icard .card-header.room3 {background-color:#f1b244;}
.card.icard .card-header.room4 {background-color:#e85564;}
.card.icard .card-header.room5 {background-color:#735fc9;}

.card.icard .card-header.room_in {background-color:#666;}
.card.icard .card-header.room_out {background-color:#999999;}

.card.icard .card-header span {
    font-size:12px; color:#fff; letter-spacing:-0.2px;
}
.card.icard .pinfo {padding:8px;}
.card.icard .pinfo .bts {
    align-items:center;
    padding:0 3px; white-space:nowrap;
    border:solid 1px #eee; border-radius:4px;
    background:#fff;
}
.card.icard .pinfo .bts span {
    display:inline-block; margin:0 2px;
    width:10px; height:10px; border-radius:6px; overflow:hidden;
    /*background:#999;*/
}
.card.icard .pinfo .bts span.basic {background:#999;}
.card.icard .pinfo .bts span.taste {background:#3ed06f;}
.card.icard .pinfo .bts span.smell {background:#d03e3e;}
.card.icard .pinfo .name {
    font-size:15px; color:#111;font-weight:600; letter-spacing:-0.2px;
}
.card.icard ul {padding:0 8px 8px;}
.card.icard ul li + li {margin-top:2px;}
.card.icard ul li span {
    font-size: 12px;
    letter-spacing: -0.2px;
    color: #999;
}
.card.icard ul li strong {
    font-size: 12px;
    letter-spacing: -0.2px;
    color: #333;
}


.dashboard-info {
    padding: 0 0 8px 0;
}
